[submodule "docker"]
	path = docker
	url = https://gitlab.cern.ch/atlas-nextgen-wp21/docker-builder.git
[submodule "apptainer"]
	path = apptainer
	url = https://gitlab.cern.ch/atlas-nextgen-wp21/apptainer-wrapper.git
[submodule "wp21_train"]
	path = wp21_train
	url = https://gitlab.cern.ch/atlas-nextgen-wp21/wp21_training_framework.git
[submodule "project"]
	path = project
	url = ssh://git@gitlab.cern.ch:7999/atlas-nextgen-wp21/tau_utils.git
